# Ques 1) Create one variable containing following type of data:
          (i) string
          (ii) list
          (iii) float
          (iv) tuple

Ans :-

In [1]:
x=str("Rohan")

In [3]:
y=list((1,2,3,"Ram",4.5))

In [5]:
z=float(3.9)

In [6]:
a=tuple(("Neha","Virat"))

# Ques 2)Given are some following variables containing data:
         (i) var1 = ‘ ‘
         (ii) var2 = ‘[ DS , ML , Python]’
         (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
         (iv) var4 = 1.
         What will be the data type of the above given variable.

# Ans :- 
# (i) String
# (ii) String
# (iii) List
# (iv) Float

In [7]:
var1=' '

In [8]:
print(type(var1))

<class 'str'>

In [9]:
var2='[DS,ML,Python]'

In [10]:
print(type(var2))

<class 'str'>

In [11]:
var3=['DS','ML','Python']

In [12]:
print(type(var3))

<class 'list'>

In [13]:
var4=1.

In [14]:
print(type(var4))

<class 'float'>

# Ques 3. Explain the use of the following operators using an example:
          (i) /
          (ii) %
          (iii) //
          (iv) **

Ans :-

# (i) "/" = It is an arithmetic operator which is used for division operation. 
# (ii) "%" = It is an arithmetic operator which is used to print the remainder.
# (iii) "//" = It is an arithmetic operator which is used for floor division operation.
# (iv) "**" = It is an arithmetic operator which is used for exponential operation.

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

# Ans :-

In [16]:
l=[1,2.3,"Ram",3,4,"Jaya","Sushma",8,9,10]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2.3
<class 'float'>
Ram
<class 'str'>
3
<class 'int'>
4
<class 'int'>
Jaya
<class 'str'>
Sushma
<class 'str'>
8
<class 'int'>
9
<class 'int'>
10
<class 'int'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

# Ans :-

In [12]:
A=100
B=4
count=0
while A % B == 0:
    A/=B
    count+=1
if count>0:
    print(f"{A} is divisible by {B} and it can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

25.0 is divisible by 4 and it can be divided 1 times.

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

# Ans:-

In [11]:
l=list(range(25))
for i in l:
    print(i)
    if i%3==0:
        print("It is divisible by 3")
    else:
        print("It is not divisible by 3")

0
It is divisible by 3
1
It is not divisible by 3
2
It is not divisible by 3
3
It is divisible by 3
4
It is not divisible by 3
5
It is not divisible by 3
6
It is divisible by 3
7
It is not divisible by 3
8
It is not divisible by 3
9
It is divisible by 3
10
It is not divisible by 3
11
It is not divisible by 3
12
It is divisible by 3
13
It is not divisible by 3
14
It is not divisible by 3
15
It is divisible by 3
16
It is not divisible by 3
17
It is not divisible by 3
18
It is divisible by 3
19
It is not divisible by 3
20
It is not divisible by 3
21
It is divisible by 3
22
It is not divisible by 3
23
It is not divisible by 3
24
It is divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

# Ans:-

# Immutable Data type :- An immutable object is one whose state cannot be modified once it is created. If any operation is performed on an immutable object that seems to modify it, a new object is actually created with the updated value, while the original object remains unchanged. For example :- Tuple,String,etc.
# Mutable Data type :- A mutable object can have its state modified after it is created. This means that the object's value can be changed in-place without creating a new object. For example :- List,Dictionary,etc.